.new_room{
    display: flex;
}


ul{
    list-style: none;
}

.room-nav{
    height: 100vh;
}

.new_room_main{
    
    text-align: center;
}
.register-box{
    padding: 50px 100px;
    text-align: center;
}
table{
    text-align: center;
}

.label::after{
    content: "必須";
    color: white;
    background-color: #ff0000a8;
    font-size: 12px;
    border-radius: 5px;
    padding: 4px;
    margin: 0 5px;
}
  
.r-field{
    width:300px;
    height:300px;
    line-height: 10px;
    padding-top: 30px;
  }


.col-md-6::before{
    content: "必須";
    color: white;
    background-color: #ff0000a8;
    font-size: 12px;
    border-radius: 5px;
    padding: 4px;
    margin: 0 5px;
  }
